{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


<div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                        <img class="card-img-top img-responsive" src="https://slack-files2.s3-us-west-2.amazonaws.com/avatars/2016-07-07/57802419554_47decd25da0b63135665_512.png" alt="Card image cap">
                        <div class="card-body">
                          <strong></strong><h5 class="card-title">Card title</h5></strong>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Read more</a>
                        </div>
                      </div>
    
          </div>
          <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                        <img class="card-img-top img-responsive" src="https://slack-files2.s3-us-west-2.amazonaws.com/avatars/2016-07-07/57802419554_47decd25da0b63135665_512.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Read more</a>
                        </div>
                      </div>
           
         </div>
          <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                        <img class="img-responsive" src="https://slack-files2.s3-us-west-2.amazonaws.com/avatars/2016-07-07/57802419554_47decd25da0b63135665_512.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Read more</a>
                        </div>
                      </div>
    
          </div>
        </div>
</div>
{% endblock %}

